body{
    background: linear-gradient(to right, red, green);
}
h1,h2,h3{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}
.btn{
    display:flex;
    justify-content: center;
    margin-top: 5px;
}
.bt{
    background-color: #e7e7e7; 
    color: black;
    border-radius: 4px;
    font-size: 15px;
}